html {
    background-color: lightblue;
}

.header-section {
    background-color: lightblue;
}

.form-section {
    background-color: lightblue;
    padding-top: 30px;
}

.register-section {
    background-color: lightblue;
    padding-top: 20px;
}

.footer-section {
     background-color: lightblue;
}